<a href="https://colab.research.google.com/github/OVP2023/PYbasicForAnalize/blob/main/dz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1 Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times — Wednesday, October 2, 2002
The Guardian — Friday, 11.10.13
Daily News — Thursday, 18 August 1977

In [ ]:
from datetime import datetime
#The Moscow Times
datetime.strptime('Wednesday, October 2, 2002','%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
# The Guardian
datetime.strptime('Friday, 11.10.13','%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
#Daily News
datetime.strptime('Thursday, 18 August 1977','%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

Задание 2 Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. То есть для каждой даты возвращает True — дата корректна или False — некорректная.

In [ ]:
from datetime import datetime
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
def date_cor(str_data):
    try:
        datetime.strptime(str_data,'%Y-%m-%d')
        return True
    except:
        return False

for str_ in stream:
    print(str_,date_cor(str_))

2018-04-02 True
2018-02-29 False
2018-19-02 False

Задание 3 Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import datetime, timedelta
def date_range(start_date, end_date):
    list_=[]
    try:
        sd_=datetime.strptime(start_date,'%Y-%m-%d')
        ed_=datetime.strptime(end_date,'%Y-%m-%d')
        cd_=sd_
        while cd_ <= ed_:
            #print (cd_.year,'-',cd_.month,'-',cd_.day)
            list_.append(cd_.strftime("%Y-%m-%d"))
            cd_=cd_+timedelta(days=1)
        return list_
    except:
        return []
print(date_range('2018-04-02','2018-04-14'))

['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14']